<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay 'N Print</title>
    <link rel="stylesheet" href="static/css/printjob.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="container">
        <!-- aside section start -->
        <aside>
            <div class="top">
                <div class="logo">
                    <h2><span class="name">PAY 'N PRINT</span></h2>
                </div>
                <div class="close" id="close_btn">
                    <span class="material-symbols-sharp"> close </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="{{ url_for('admin.admindb') }}">
                    <span class="material-symbols-sharp"> grid_view </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="{{ url_for('admin.printjobs') }}" class="active">
                    <span class="material-symbols-sharp"> print </span>
                    <h3>Print Jobs</h3>
                </a>
                <a href="{{ url_for('admin.addprice') }}">
                    <span class="material-symbols-sharp"> sell </span>
                    <h3>Price List</h3>
                </a>
                <a href="{{ url_for('admin.notifications') }}">
                    <span class="material-symbols-sharp"> notifications </span>
                    <h3>Notifications</h3>
                    <span class="message-count">0</span>
                </a>
                <a href="{{ url_for('admin.adminuser') }}">
                    <span class="material-symbols-sharp"> person </span>
                    <h3>Admin Users</h3>
                </a>

                <a href="{{ url_for('admin.logout') }}" onclick="return confirmLogout();">
                    <span class="material-symbols-sharp"> logout </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!-- aside section end -->

        <!-- Main Section -->
        <main>
            <div class="title">
                <h1>Print Jobs</h1>
                <small class="sub">dashboard > <span class="primary">print jobs</span></small>
            </div>

            <div class="filtered">
                <a href="{{ url_for('admin.printjobs', status='all') }}"
                    class="{% if filter_status == 'all' %}active{% endif %}">All</a>
                <a href="{{ url_for('admin.printjobs', status='success') }}"
                    class="{% if filter_status == 'success' %}active{% endif %}">Success</a>
                <a href="{{ url_for('admin.printjobs', status='pending') }}"
                    class="{% if filter_status == 'pending' %}active{% endif %}">Pending</a>
                <a href="{{ url_for('admin.printjobs', status='failed') }}"
                    class="{% if filter_status == 'failed' %}active{% endif %}">Failed</a>
            </div>

            <div class="recent">
                <table>
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Copies</th>
                            <th>Color Mode</th>
                            <th>Total Cost</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tran in transactions %}
                        <tr>
                            <td>{{ tran.file }}</td>
                            <td>{{ tran.Copies }}</td>
                            <td>{{ tran.colorName }}</td>
                            <td class="primary">₱ {{ "%.2f"|format(tran.totalCost) }}</td>
                            <td class="{{ 'success' if tran.status == 'success' else 'danger' }}">{{ tran.status }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Pagination -->
            <div class="pagination">
                {% for i in range(1, total_pages + 1) %}
                <a href="{{ url_for('admin.printjobs', page=i) }}">{{ i }}</a>
                {% endfor %}
            </div>
        </main>
        <!-- Main Section End -->


        <!-- Right Section -->
        <div class="right">
            <div class="top">
                <button id="menu_bar">
                    <span class="material-symbols-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-symbols-sharp active">light_mode</span>
                    <span class="material-symbols-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p><b>{{ admin_name }}</b></p>
                        <p>Admin</p>
                        <small class="text-muted"></small>
                    </div>
                    <div class="profile-photo" id="profilePhoto" style="cursor: pointer;">
                        <img src="{{ url_for('static', filename='uploads/' + admin_photo) }}" alt="Profile"
                            id="open-popup">

                    </div>
                </div>
            </div>
        </div>
        <!-- Right Section End -->

        <!-- Profile Update Popup -->
        <div id="profileModal" class="popup">
            <div class="popup-content">
                <div class="closed">
                    <span class="material-symbols-sharp"> close </span>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <div class="form-title">
                        <h2>Update</h2>
                    </div>

                    <div class="form-field">
                        <div class="upload-container">
                            <div class="upload-box" onclick="document.getElementById('profile_photo').click();">
                                <div id="uploadPreviewContainer" class="upload-preview-container">
                                    <img id="uploadPreview" src="#" />
                                </div>
                                <span id="uploadText">⬆ UPLOAD</span>
                            </div>
                            <input type="file" id="profile_photo" name="profile_photo" accept="image/*"
                                onchange="previewImage(event)">
                        </div>

                        <div class="form-input">
                            <div class="form-field-input">
                                <label for="AdminName">Name</label>
                                <input type="text" id="AdminName" name="AdminName" value="{{ admin_name }}" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" name="update-btn" class="update-btn">UPDATE</button>
                </form>
            </div>
        </div>
    </div>
    <script>

        const sideMenu = document.querySelector('aside');
        const menuBtn = document.querySelector('#menu_bar');
        const closeBtn = document.querySelector('#close_btn');

        const themeToggler = document.querySelector('.theme-toggler');

        menuBtn.addEventListener('click', () => {
            sideMenu.style.display = "block"
        })

        closeBtn.addEventListener('click', () => {
            sideMenu.style.display = "none"
        })

        themeToggler.addEventListener('click', () => {
            document.body.classList.toggle('dark-theme-variables')
            themeToggler.querySelector('span:nth-child(1)').classList.toggle('active')
            themeToggler.querySelector('span:nth-child(2)').classList.toggle('active')
        })

        document.addEventListener('DOMContentLoaded', () => {
            const popup = document.getElementById("profileModal");
            const btn = document.getElementById("profilePhoto");
            const closeBtn = document.querySelector(".closed");

            btn.onclick = function () {
                popup.style.display = "block";
            }

            closeBtn.addEventListener('click', () => {
                popup.style.display = "none"
            })

            window.onclick = function (event) {
                if (event.target === popup) {
                    popup.style.display = "none";
                }
            }
        });

        document.addEventListener('DOMContentLoaded', () => {
            const updates = document.querySelectorAll('.update');

            updates.forEach(update => {
                update.addEventListener('click', function () {
                    const notificationId = this.getAttribute('data-id');

                    fetch('mark_notification_read.php', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: new URLSearchParams({
                            'id': notificationId
                        })
                    }).then(response => response.text())
                        .then(data => {
                            window.location.href = 'notification_details.php?id=' + notificationId;
                        })
                        .catch(error => console.error('Error:', error));
                });
            });
        });

        function confirmLogout() {
            return confirm("Are you sure you want to logout?");
        }

        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('uploadPreview');
                output.src = reader.result;

                document.getElementById('uploadPreviewContainer').style.display = 'block';
                document.getElementById('profile_photo').style.display = 'none';
            };
            reader.readAsDataURL(event.target.files[0]);
        }

        document.addEventListener('DOMContentLoaded', function () {
            const filterItems = document.querySelectorAll('.filtered p');
            const rows = document.querySelectorAll('.recent tbody tr');

            filterItems.forEach(filter => {
                filter.addEventListener('click', function () {
                    const filterText = this.textContent.toLowerCase();

                    rows.forEach(row => {
                        const status = row.querySelector('td.danger').textContent.toLowerCase();

                        if (filterText === 'all' || status === filterText) {
                            row.style.display = '';
                        } else {
                            row.style.display = 'none';
                        }
                    });
                });
            });
        });
    </script>
</body>

</html>